// ====================================
// OVERIDE STYLE FOR THEME COLUMN
// =====================================

$grid-gutter: 20px;
$scss-color-border-darker: #e0e2e4;

// OVERRIDE BUTTON
// ----------------------

// Button mixins
%button {
  border-radius:2px;
  border: 0;
  cursor:pointer;
  display:inline-block;
  padding:$grid-gutter / 2  $grid-gutter;
  font-weight: 700;
  text-decoration:none;
  outline:none;
  text-align:center;

  @include media('small') {
    margin-bottom: 4px;
  }
}

// public mixins
@mixin button-theme($color) {
    @extend %button;
    @if $scss-button-style == flat {
        background:$color;
        color: color-contrast($color) !important;
        &:hover, &:active, &:focus {
            background:darken($color,8%);
            text-decoration: none;
            color: color-contrast($color) !important;
        }
    }
    @else if $scss-button-style == subtle {
        box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.4);
        @include gradient($color);
        color: color-contrast($color) !important;
        &:hover, &:active, &:focus {
            color: color-contrast($color) !important;
            @include gradient(darken($color,8%));
        }
    }
}


// extend these classes in specific class

%button--primary {
  @include button-theme($scss-color-primary);
}

%button--secondary {
  @include button-theme($scss-color-secondary);
  color: white!important;
}

%button--neutral {
	border: 1px solid $scss-color-border;
  color:$scss-color-neutral-contrast;
  @include button-theme($scss-color-neutral);
}

%button--important {
  @include button-theme($scss-color-important);
}

%button--info {
  @include button-theme($scss-color-info);
}

.joms-button__next {
  @extend %button--secondary;
}

.joms-button--full {
  width: 100%;
}

.joms-button--full-small {
  width: 100%;
  @include media('medium') {
      width: auto;
  }
}

.joms-button--primary {
  @extend %button--primary;
}

.joms-button--secondary {
  @extend %button--secondary;

  &:hover,&:focus,&:active {
  	color: white!important;
  }
}

.joms-button--neutral {
  @extend %button--neutral;
}

.joms-button--important {
  @extend %button--important;
}

.joms-button--privacy {
  @extend %button--neutral;
  padding: ms(-2);
  color: $scss-color-icon;
  .joms-icon {
      height: 12px;
  }

  .joms-form__group & {
      margin-top: ms(-2);
  }
}

.joms-button--add {
  @extend %button--primary;
  position: absolute;
  padding: 8px;
  line-height: 18px;
  top: ms();

  @if ($scss-direction == rtl) {
      left: ms();
  } @else {
      right: ms();
  }

  span {
      display: none;
  }

  .joms-icon {
      fill: color-contrast($scss-color-primary);
  }

  @include media('medium') {
      position: static;
      display: inline-block;
      span {
          display: initial;
      }
      svg {
          display: none;
      }
  }
}

.joms-button--add-on-page {
  @include media('medium') {
    position: absolute;
    top: 14px;
    width: auto;
    @if ($scss-direction == rtl) {
      left: 14px;
    } @else {
      right: 14px;
    }
  }
}

.joms-button--more {
    @extend %button--neutral;
    padding: ms(-2);
    font-size: $scss-font-size;
}

.joms-button--login {
    @extend %button--primary;
    width:100%;
}

.joms-button--signup {
    @extend %button--secondary;
    width:100%;
    @include media('large') {
        width:auto;
    }
}

.joms-button--link {
  @if ($scss-color-link != false ) {
      color: $scss-color-link;
      &:hover {
      color: $scss-color-link;
      }
  }

  display: inline-block;
  padding-top: ms(-2);

}

.joms-button--comment {
    @extend %button--neutral;
    padding: 8px 8px 7px;
    margin-bottom: 0;
    font-size: 12px;
}

.joms-button__reject {
    @extend %button--neutral;
    padding:ms(-2) ms(-1);
}

.joms-button__approve {
    @extend %button--primary;
    padding:ms(-2) ms(-1);
}

.joms-button--small {
  padding: $grid-gutter / 4 $grid-gutter / 2;
  font-size: $font-size-small;
}

.joms-button--smallest {
	font-size: $font-size-small;
  padding: ms(-4) ms(-2);
}

.picker__select--month,
.picker__select--year,
.input-mini {
	display: inline-block;
}

.joms-select option:hover,
.joms-select option:focus {
	background: #4275f4;
}

// Button Signup
.joms-button--signup {
  @extend %button--info;
  padding: 0;
  height: $grid-gutter * 2;
  line-height: $grid-gutter * 2;
  font-weight: 700;
  text-align: left;
  width:100%;

  // Icon
  > span {
  	border-right: 1px solid rgba(255,255,255,0.2);
  	height: $grid-gutter * 2;
  	line-height: $grid-gutter * 2;
  	text-align: center;
  	margin-right: $grid-gutter / 2;
  	float: left;
  	width: $grid-gutter * 2;

  	svg {
  		height: 14px;
  	}
  }
}

.joms-button--login {
  @extend %button--secondary;
  color: white !important;
  width: 100%;

  &:hover,&:focus,&:active {
  	color: white !important;
  }
}

.joms-menu {
	left: -200px;
	width: 200px;
}

.joms-menu--user {
	left: auto;
	right: -200px;
}

.joms-popup .joms-comment__actions {
	margin-top: $grid-gutter / 2;

	a {
		padding: $grid-gutter / 4 0;
	}
}


// Global Style
// =============
body {
	background: $scss-color-background;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#community-wrap {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	small {
		font-size: $font-size-small;
	}

	.jomsocial {
		@media (max-width: $small) {
			padding: 0;
		}
	}

	.joms-online a::after {
		top: -5px;
		right: -5px;
		height: 12px;
		width: 12px;
	}
}

.joms-icon {
	width: $scss-font-size;
  height: $scss-font-size;
}

.joms-avatar img {
	border-radius: 2px;
}

.joms-avatar--stream,
.joms-avatar--comment {
	border-radius: 2px;
	max-width: $grid-gutter * 2;

	img {
		border-radius: 2px;
		max-width: $grid-gutter * 2;
	}
}

.joms-avatar--stream.video-thumb img,
.joms-avatar--comment.video-thumb img,
.joms-avatar--focus.video-thumb img {
	max-width: $grid-gutter * 2;
}

.joms-stream__header.no-gap {
	margin-bottom: $grid-gutter;
}

.joms-list__search {
	margin-bottom: $grid-gutter;

	h1,h2,h3,h4 {
		font-weight: 700;
	}

	.joms-button--add {
		@media (max-width: $medium) {
			position: static;
		}
	}
}

.joms-sortings .joms-select--wrapper {
	&:first-child {
		margin-left: 0!important;
	}
}

.joms-input--search[type="text"] {
	@media (min-width: $medium) {
		width: 220px;
	}

	+ button {
		padding: 8px 10px;
	}
}

.joms-gallery__thumbnail,
.joms-gallery__body,
.joms-gallery__count {
	display: block;
}

.joms-inline--desktop {
	@media (max-width: $large) {
		display: block!important;
	}
}

.joms-dropdown.more-button,
.more-button.joms-popover {
	margin: 0;

	@media (max-width: $large) {
		position: relative;
	}
}

// Module
.joms-module__header {
	border-bottom: 1px solid $scss-color-border;
	border-radius: 2px 2px 0 0;
	font-weight: 700;
	padding: $grid-gutter;
	text-align: left;
	line-height: 1;
}

.joms-module__body,
.joms-tab__content {
	border-radius: 0 0 2px 2px;
	box-shadow: 0 1px 0 $scss-color-border;
}

.joms-blankslate {
	background: $scss-color-module-background;
	border: 1px dashed $scss-color-border;
	color: $scss-color-text;
	font-size: $font-size-small;
	padding: $grid-gutter / 2 $grid-gutter;
}

// Button Login Facebook
.login-facebook {
	position: relative;
	overflow: hidden;
	text-align: left;

	> span {
		background: #3b5998;
		border-radius: 2px;
		color: white;
		display: inline-block;
		position: relative;
		padding-right: $grid-gutter;
		height: $grid-gutter * 2;
		line-height: $grid-gutter * 2;
		font-weight: 700;

		.fa {
			border-right: 1px solid rgba(255,255,255,0.2);
			float: left;
			text-align: center;
			font-size: 14px;
			height: $grid-gutter * 2;
			line-height: $grid-gutter * 2;
			margin-right: $grid-gutter / 2;
			width: $grid-gutter * 2;
		}
	}

	.fb-login-button,
	.fb-login-button > span,
	.fb-login-button > span > iframe {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%) scale(1.4);
		-webkit-transform: translate(-50%,-50%) scale(1.4);
		opacity: 0.01;
	}

	.cRegister & {
		.fb-login-button,
		.fb-login-button > span,
		.fb-login-button > span > iframe {
			top: 0;
			left: 0;
			transform: translate(0,0);
		    -webkit-transform: translate(0,0);
		}
	}
}


// Layout Dashboard
.joms-landing__text,
.joms-landing__signup {
	display: block;
	width: 100%;
}

// Set grid for Dashboard
.joms-row {
	margin-left: -$grid-gutter;
	margin-right: -$grid-gutter;

	&:after {
		content: "";
		display: table;
		clear: both;
	}

	> div {
		padding-left: $grid-gutter;
		padding-right: $grid-gutter;
		float: left;

		&.joms-col-sm-12 {
			width: 100%;
		}

		&.joms-col-sm-9 {
			width: 100%;

			@media (min-width: $xlarge) {
				border-right: 1px solid $scss-color-border-darker;
				width: 75%;
			}
		}

		&.joms-col-sm-3 {
			margin-top: $grid-gutter;
			width: 100%;

			@media (min-width: $xlarge) {
				border-left: 1px solid $scss-color-border-darker;
				margin-left: -1px;
				margin-top: 0;
				width: 25%;
			}
		}
	}
}

// Landing
.joms-stream,
.joms-stream--notifications {
	border-radius: 2px;
	box-shadow: 0 1px 0 $scss-color-border-darker;
	margin-bottom: $grid-gutter!important;
}

.joms-stream__status--mobile a {
	font-size: $font-size-small;
	margin-right: $grid-gutter / 2;

	.joms-icon {
		height: $font-size-smallest;
	}
}

.joms-landing {
	border-bottom: 1px solid $scss-color-border-darker;
	display: flex;
	margin-bottom: $grid-gutter;
	padding-bottom: $grid-gutter;

	@media (max-width: 767px) {
		display: block;
	}

	// Clearfix
	&:after {
		content: "";
		display: table;
		clear: both;
	}

	// Grid 2 columns
	.joms-landing__action {
		border-radius: 0 0 2px 2px;
		float: left;
		width: 100%;
	}

	.joms-landing__cover {
		border-radius: 2px 0 0 2px;
		overflow: hidden;
	}

	.joms-landing__cover,
	.joms-landing__cover + .joms-landing__action {
		float: left;
		width: 50%;

		@media (max-width: 767px) {
			width: 100%;
		}
	}

	// Sign Up
	.joms-landing__signup {
		border-bottom: 1px solid $scss-color-border;
		padding: $grid-gutter 0;
		margin-bottom: $grid-gutter;

		.joms-login-facebook {
			margin-bottom: $grid-gutter / 2;

			span {
				display: block;
			}
		}
	}

	// Form login
	.joms-landing__action  {
		padding: $grid-gutter * 3 $grid-gutter * 4;

		@media (max-width: $large) {
			padding: $grid-gutter * 2;
		}

		@media (max-width: $medium) {
			padding: $grid-gutter;
		}

		.joms-landing__text {
			h2 {
        color: color-contrast($scss-color-focus-background);
        margin-top: 0;
        font-weight: 400;
			}

			p {
				border-bottom: 1px solid $scss-color-border;
				font-size: $font-size-small;
				padding-bottom: $grid-gutter;
				margin-bottom: 0;
			}
		}

		.joms-landing__content {
			border-top: 1px solid $scss-color-border;
			border-bottom: 1px solid $scss-color-border;
			background: transparent;
			position: static;
			padding: $grid-gutter 0;
			margin-bottom: $grid-gutter;
		}

		#form-login {
			.joms-input--append {
				margin-right: 0;
				margin-top: 0;
				margin-bottom: $grid-gutter / 2;
				width: 100%;

				// Set Height for Input
				.joms-input[type="text"],
				.joms-input[type="password"] {
					padding: $grid-gutter / 2 $grid-gutter / 2 $grid-gutter / 2 ($grid-gutter * 2 + 15px);
					height: $grid-gutter * 2;
				}

				// Icon label
				> span {
					border-right: 1px solid $scss-color-border;
					position: absolute;
					left: 0;
					top: 0;
					height: $grid-gutter * 2;
					line-height: $grid-gutter * 2;
					text-align: center;
					width: $grid-gutter * 2;

					> svg {
						fill: $color-concrete;
						position: static;
						height: 14px;
						margin-top: -4px;
					}
				}
			}

			.joms-checkbox {
				margin-top: 0;
				margin-bottom: $grid-gutter / 2;

				input {
					margin-top: $grid-gutter / 4;
				}

				span {
					margin-top: 0;
					margin-left: $grid-gutter;
				}
			}

			// Button Login
			.joms-button--login {
				width: 100%;
			}
		}

		.joms-other {
			margin-top: $grid-gutter;
			margin-bottom: 0;

			a {
				margin-top: $grid-gutter / 4;
				width: 100%;
			}
		}

		button {
			width: 100%;
		}
	}
}

// Joms Stream
.joms-stream__meta,
.joms-comment__meta,
.joms-stream__content {
	padding-right: $grid-gutter / 2;

	> a {
		font-weight: 700;

		span {
			font-weight: 400;
		}
	}
}

.joms-comment__reply {
	border-radius: 0 0 2px 2px;

	.joms-textarea {
		border-radius: 2px;
		padding-left: $grid-gutter / 2;
		padding-top: $grid-gutter / 2;
		padding-bottom: $grid-gutter / 2;
		height: $grid-gutter * 2;
		min-height: $grid-gutter * 2;
	}

	.joms-icon.joms-icon--add {
		right: $grid-gutter * 1.5;
		top: 32px;

		@media (max-width: 1025px) {
			right: $grid-gutter * 4;
		}
	}

	.joms-stream & {
		.joms-emoticon__board {
			@media (max-width: $xsmall) {
				right: -50px;

				&:before,
				&:after {
					right: 49px;
				}
			}
		}
	}
}

.joms-stream__status {
	background: $scss-color-comment-background;
	border-top: 1px solid $scss-color-border-darker;
	padding: $grid-gutter / 2 $grid-gutter;
}

.joms-comment {
	.joms-comment__item {
		border: 0;
		font-size: $font-size-small;
		padding-top: $grid-gutter;

		&:first-child {
			border-top: 1px solid $scss-color-border-darker;
		}

		&:last-child {
			padding-bottom: $grid-gutter;
		}

		.joms-comment__header {
			padding-bottom: 0;
		}

		.joms-comment__body {
			padding-top: 0;
			padding-left: $grid-gutter / 2;
		}
	}
}

// Toolbar
.joms-toolbar--desktop {
	border: 0;
}

// Post box
.joms-postbox {
	background: transparent;
	border: 0;
	border-bottom: 1px solid $scss-color-border-darker;
	box-shadow: 0 1px 0 $scss-color-border;
	padding-bottom: $grid-gutter;
	margin-bottom: $grid-gutter;

	.joms-postbox-input {
		border-radius: 2px 2px 0 0;
		min-height: $grid-gutter * 4;
		padding: $grid-gutter;

		.inputbox {
			box-shadow: none;
			color: $color-concrete;

			.input-status {
				color: $scss-color-text;

				&::placeholder {
					color: $color-concrete;
				}
			}
		}
	}

	.joms-postbox-tab {
		background: $scss-color-postbox-tab;
		border-top: 1px solid $scss-color-border;
		border-radius: 0 0 2px 2px;
		box-shadow: 0 1px 0 $scss-color-border-darker;
		padding: $grid-gutter;
		position: relative;

		.joms-list {
			> li {
				background: #f5f7f9;
				border-radius: 1px;
				padding: 0;
				line-height: 30px;
				text-align: center;
				height: 30px;
				width: 30px;

				@media (max-width: $medium) {
					background: transparent;
					margin-right: 0;
				}

				svg {
					fill: $scss-color-icon;
				}

				span {
					display: none!important;
				}

				&.active {
        	background-color: rgba(0,0,0,0.1);
        }
			}

			@media (max-width: $medium) {
				max-width: 100%;
				overflow-x: scroll;
				white-space: nowrap;
			}
		}

		.joms-postbox-action {
			bottom: $grid-gutter;
			right: $grid-gutter;

			> button {
				height: 30px;
				line-height: 28px;
				margin: 0;
				padding: 0 $grid-gutter;
			}
		}

		&.selected {
		}
	}

	.joms-postbox-dropdown {
		margin-top: -$grid-gutter;

		> div {
			&::after {
				content: "";
				display: table;
				clear: both;
			}
		}

		.joms-postbox-tab {
			border: 0;
			box-shadow: none;
			padding: 0;
			text-align: right;
		}

		.joms-postbox-action {
			position: static;
		}
	}

	.joms-emoticon__board {
		@media (max-width: $small) {
			right: -4px;

			&:before,
			&:after {
				right: 3px;
			}
		}
	}
}

// Filter activity
.joms-activity-filter {
	background: white;
	border: 0;
	border-radius: 2px;
}

.joms-activity-filter__options {
	top: 6px;
	right: $grid-gutter / 2;
}

// Media
.joms-media--video,
.joms-media--album,
.joms-media {
	background: transparent;
	border: 1px solid $scss-color-border;
	box-shadow: 0 0 4px $scss-color-background;

	.joms-media__thumbnail {
		@media (min-width: $medium) {
			height: $grid-gutter * 8;
			width: $grid-gutter * 8;
		}

		.mejs-overlay-button {
			background-size: 100% auto;
			background-position: bottom center;
			margin: -($grid-gutter * 1.5);
			height: $grid-gutter * 3;
			width: $grid-gutter * 3;
		}
	}

	.joms-media__body {
		padding: $grid-gutter;
	}
}

.joms-media__title {
	font-size: 21px;
	font-weight: 400;
	line-height: 1.3;
}

.joms-media__desc {
	border: 0;
	margin-top: $grid-gutter / 2;
	padding-top: 0;
	min-height: 72px;

	@media (max-width: $medium) {
		max-height: unset;
		min-height: 0;
	}
}

.joms-text--title,
.joms-text--username,
.joms-text--desc {
	margin-bottom: $grid-gutter / 2;
}


.joms-focus__date.cover,
.joms-focus__date.module {
	background: white;
	border-radius: 2px;
	padding: 0;

	@media (max-width: $small) {
		bottom: auto;
		top: $grid-gutter;
	}

	span {
		&:first-child {
			background: $scss-color-important;
			border-radius: 2px 2px 0 0;
			color: white;
			padding: $grid-gutter / 4 $grid-gutter / 2;
			font-size: $font-size-smallest;
		}

		&:last-child {
			border-radius: 0 0 2px 2px;
			color: #202122;
			padding: $grid-gutter / 2;
			font-size: 21px;
			font-weight: 400;
			line-height: 1.1;
		}
	}
}

// Focus
.joms-focus {

}

.joms-focus__header {
	background: linear-gradient(transparent,black);

	.joms-focus__date {
		background: transparent;
		border-radius: 2px;
		padding: 0;
		vertical-align: middle;

		span {
			&:first-child {
				background: $scss-color-important;
				border-radius: 2px 2px 0 0;
				color: white;
				padding: $grid-gutter / 4 $grid-gutter / 2;
				font-size: $font-size-smallest;
			}

			&:last-child {
				background: white;
				border-radius: 0 0 2px 2px;
				color: #202122;
				padding: $grid-gutter / 2;
				font-size: 21px;
				font-weight: 400;
				line-height: 1.1;
				margin-top: 0;
			}
		}
	}

	img {
		border-radius: 2px;
	}
}

.joms-focus__header__actions--desktop {
	a {
		font-size: $font-size-small;
	}

	svg.joms-icon {
		height: $font-size-small;
	}
}

.joms-focus__cover::before {
	@media (min-width: $medium) {
		padding-top: $grid-gutter * 23;
	}
}

// Reaction
a.reaction-btn {
	&--like {
		&,
		&:hover,
		&:focus {
			color: #4080fe;
		}
	}

	&--love {
		&,
		&:hover,
		&:focus {
			color: #f54273;
		}
	}

	&--haha,
	&--wow,
	&--sad {
		&,
		&:hover,
		&:focus {
			color: #fecc4d;
		}
	}

	&--angry {
		&,
		&:hover,
		&:focus {
			color: #ff7214;
		}
	}
}

// OTHER PAGES
// -----------------------
.joms-select--wrapper {
	padding: 0;

	.joms-select{
		padding: 0 $grid-gutter / 2;
	}
}

.joms-list--card {
	.joms-list__item {
		box-shadow: 0 0 4px $scss-color-background;
		background: white;
		border-radius: 2px;
		margin-bottom: $grid-gutter;
	}

	.joms-list__content {
		padding: $grid-gutter;
	}
}

// Video
.joms-list--video {
	.joms-list__item {
		border-radius: 2px;
		box-shadow: 0 0 4px $scss-color-background;
		margin-bottom: $grid-gutter;
	}

	.joms-list__content {
		border: 1px solid $scss-color-border;
		padding: $grid-gutter;

		.joms-list__thumb {
			position: relative;
			margin: (-$grid-gutter) (-$grid-gutter) $grid-gutter (-$grid-gutter);
		}

		.joms-text--title {
			color: $scss-color-primary;
			font-weight: 500;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.joms-block {
			font-size: $font-size-small;
		}
	}
}

// Friends
.joms-list--friend {
	.joms-list__item {
		background: white;
		box-shadow: 0 0 4px $scss-color-background;
		padding: $grid-gutter;
		min-height: 130px;

		@media (max-width: 767px) {
			margin-left: 0!important;
			margin-right: 0!important;
			width: 100%;
		}

		.joms-text--username {
			margin-bottom: $grid-gutter / 4;
		}

		.joms-text--title {
			font-size: $font-size-small;
		}

		.joms-list__button--dropdown {
			position: static;
			float: right;

			@media (max-width: $medium) {
				float: none;
				text-align: center;
			}
		}
	}
}

// Gallery
.jomsocial .joms-gallery {
	margin-left: -($grid-gutter / 2);
	margin-right: -($grid-gutter / 2);
	display: flex;
	flex-wrap: wrap;


	// Clearfix
	&::after {
		content: "";
		display: table;
		clear: both;
	}

	.joms-gallery__item {
		padding-left: ($grid-gutter / 2);
		padding-right: ($grid-gutter / 2);
		margin: 0 0 $grid-gutter 0;
		float: left;
		width: 20%;

		@media (max-width: $xlarge) {
			width: 33.333333%;
		}

		@media (max-width: $large) {
			width: 50%;
		}

		@media (max-width: $medium) {
			width: 100%;
		}

		@media screen and (min-width: $medium) {
          &.half {
            width: 50%;
          }
        }

		.joms-gallery__thumbnail {
			margin-bottom: 0;
			max-width: 100%;
			width: 100%;

			img {
				border: 0;
				padding: 0;
				max-width: 100%;
				width: 100%;
			}
		}

		.joms-gallery__body {
			box-shadow: 0 0 4px $scss-color-border;
			border: 1px solid $scss-color-border;
			padding: $grid-gutter;

			.joms-gallery__title {
				font-weight: 600;
				margin-bottom: $grid-gutter / 2;
			}

			.joms-gallery__meta,
			.joms-gallery__status {
				font-size: $font-size-small;
			}
		}
	}
}

// List Card
div.joms-list--2 {
	margin-left: -$grid-gutter / 2;
	margin-right: -$grid-gutter / 2;

	// Clearfix
	&::after {
		content: "";
		display: table;
		clear: both;
	}

	> div {
		float: left;
		padding-left: $grid-gutter / 2;
		padding-right: $grid-gutter / 2;
		width: 100%;

		@media (min-width: $large) {
			width: 50%;
		}
	}

	// Override style
	.joms-list__cover {
		float: none;
		position: relative;
		height: 260px;
		width: 100%;

		.joms-list__info {
			background: linear-gradient(transparent,black);
			bottom: 0;
			position: absolute;
			padding: $grid-gutter;
			margin: 0;
			left: 0;
			width: 100%;

			&.has-focus__date {
				padding-left: 85px;
			}

			.joms-list__title {
				margin-bottom: 0;
				font-weight: 600;
				font-size: 20px;
			}

			.joms-list--inline {
				color: white;
				margin-top: 5px;
				font-size: $font-size-small;

				svg {
					height: $font-size-small;
					fill: white;
					margin-top: -5px;
				}
			}

			a {
				color: white;
			}
		}
	}

	// Body Card
	.joms-list__content {
		float: none;
		width: 100%;

		.joms-icon {
			fill: darken($scss-color-icon, 10%);
			margin-right: $grid-gutter / 4;
		}

		.joms-list--table {
			li {
				padding: 3px 0;

				a {
					color: $scss-color-icon;

					&:hover,&:focus,&:active {
						color: $scss-color-link;
					}
				}
			}
		}
	}

	// Footer Card
	.joms-list__footer {
		border-top: 1px solid $scss-color-border;
		text-align: left;
		float: none;
		width: 100%;

		// Clearfix
		&::after {
			content: "";
			display: table;
			clear: both;
		}

		a {
			display: inline-block;
		}

		.joms-list__creator {
			float: left;
			margin-right: $grid-gutter / 2;

			@media (max-width: $medium) {
				margin-bottom: $grid-gutter / 2;
			}

			img {
				padding: 0;
			}
		}

		.joms-block {
			font-size: $font-size-small;
			float: left;

			a {
				display: block;
				font-size: $scss-font-size;
				margin-bottom: 0;
			}
		}

		.joms-list__actions {
			float: right;

			@media (max-width: $medium) {
				clear: both;
				display: block;
				float: none;
			}
		}

		.joms-avatar {
			margin-bottom: 0;
		}
	}

	.joms-list__permission {
		color: $color-concrete;
		position: static;
		text-align: left;
		font-size: $font-size-small;
		font-weight: 400;
		margin-top: $grid-gutter / 2;
	}
}

.joms-hcard__info {
	background: linear-gradient(transparent, black);
	h3 {
		color: white;
	}
}

// Inbox
.joms-comment__header {
	.joms-comment__body {
		padding-top: 0;
		padding-left: $grid-gutter / 2;
	}
}

.joms-js--inbox-reply {
	.joms-icon--add + .joms-icon--add {
		right: $grid-gutter * 2!important;
	}
}

.joms-page--inbox {
	.joms-list--message__remove {
		margin-left: $grid-gutter;

		.joms-button--smallest {
			border: 0;
			padding: 0;
			opacity: 0.5;

			&:hover,&:focus,&:active {
				background: transparent;
				opacity: 1;
			}

			svg {
				height: 8px;
				width: 8px;
			}
		}
	}
}

// ------------------------------
// MODULE STYLE
// ------------------------------

// Tab Bar
.joms-module__wrapper .joms-tab__bar {
	a {
		border-bottom: 1px solid $scss-color-border;
		padding: $grid-gutter;
		font-weight: 600;
		font-size: $scss-font-size;
		line-height: 1;

		+ a {
			border-left: 1px solid $scss-color-border;
		}

		&.active {
			border-bottom-color: transparent;
		}

		span {
			padding: 0;
		}
	}

	.joms-tab__bar--button span.add {
		background: transparent;
	}
}

.joms-module__wrapper,
.joms-module__wrapper--stacked {
	margin-bottom: 0;
}

.joms-tab__content {
	margin-bottom: $grid-gutter;
}

.joms-module {
	.joms-alert {
		background: $scss-color-warning-background;
		border: 1px solid darken($scss-color-warning-background, 50%);
		border-radius: 2px;
		box-shadow: 0 1px 0 $scss-color-border;
		color: $scss-color-text;
		font-size: $font-size-small;
		padding: $grid-gutter;

		b {
			color: darken($scss-color-text, 10%)
		}
	}

	.joms-list--group {
		margin-left: -$grid-gutter;
		margin-right: -$grid-gutter;

		> li {
			padding: $grid-gutter;
			margin: 0;

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
			}

			+ li {
				border-top: 1px solid $scss-color-border;
			}
		}

		+ .joms-gap {
			display: none;
		}
	}

	.joms-popover__content {
		padding-left: $grid-gutter / 2;
		padding-right: 0;
	}

	.joms-list--inline {
		color: $color-concrete;
		font-size: $font-size-small;

		li {
			margin-right: $grid-gutter / 2;
		}

		.joms-icon {
			fill: $color-concrete;
			height: $font-size-small;
			width: $font-size-small;
		}
	}

	// Photos
	.joms-list--thumbnail {
		margin-left: -($grid-gutter / 4);
		margin-right: -($grid-gutter / 4);

		> li {
			padding: $grid-gutter / 4;
			width: 33.333333%;

			img {
				border-radius: 2px;
			}
		}
	}

	// Members
	.joms-js--member-module {
		.joms-gap {
			display: none;
		}

		+ .joms-gap {
			display: none;
		}

		.joms-list--thumbnail {
			margin-left: -($grid-gutter / 4);
			margin-right: -($grid-gutter / 4);

			> .joms-list__item {
				padding: $grid-gutter / 4;
				width: 20%;

				img {
					border-radius: 2px;
				}
			}
		}
	}

	// Events
	.joms-media--event {
		.joms-media__calendar {
			height: 80px;
			display: table-cell;
			vertical-align: top;
			width: $grid-gutter * 2;

			.month {
				color: white;
				font-size: 10px;
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: 0.5px;
				padding: $grid-gutter / 4 0;
			}

			.date {
				background: white;
				color: #333;
				font-size: 21px;
				font-weight: 500;
				padding: 10px 15px;
			}
		}

		.joms-media__body {
			color: $color-concrete;
			padding: 0 0 0 $grid-gutter;
			font-size: $font-size-small;

			.reset-gap {
				font-size: $font-size-large - 1px;
				line-height: 1.2;
				font-weight: 700;
			}
		}
	}

	// Statistics
	.joms-list--stats {
		li {
			padding: $grid-gutter / 2 0;
		}
	}

	// discussions
	.joms-module--discussions {
		.joms-stream__header {
			padding: 0;

			+ .joms-stream__header {
				border-top: 1px solid $scss-color-border;
				padding-top: $grid-gutter;
				margin-top: $grid-gutter;
			}
		}
	}
}

// Module on Header
header {
	// Notification
	.joms-notifications {
		background: transparent;
		display: inline-block;

		a {
			position: relative;
			line-height: $grid-gutter * 2;
			height: $grid-gutter * 2;
			width: $grid-gutter * 2;

			svg {
				fill: white;
			}

			> span {
				background: $scss-color-important;
				border-radius: 2px;
				color: white;
				font-size: 10px;
				line-height: 1;
				padding: 3px 5px;
				position: absolute;
				top: 5px;
				right: 1px;

				&:empty {
					display: none;
				}
			}
		}
	}

	// Search
	.joms-module--membersearch {
		.joms-form__group {
			position: relative;

			.joms-button--primary {
				position: absolute;
				top: 5px;
				right: 10px;
			}
		}
		.joms-input--search[type="text"] {
			background: rgba(255,255,255,0.1);
			border: 0;
			color: white;
			padding-left: $grid-gutter;
			padding-right: $grid-gutter;

			&::placeholder {
				color: rgba(255,255,255,0.6);
			}
		}

		.joms-button--primary {
			display: none;
		}
	}
}
